<main>
        <div class="resumo">

            <div>
                <p class="titulo-resumo">Você foi cadastrado!</p>
            </div>

            <div>
                <p class="info-cadastro"><i class="far fa-hand-spock"></i>Seu cadastro foi realizado com sucesso! Seja
                    Bem Vindo!</p>
            </div>

            <div class="btn">
                <a href="Index.html"><button>Ir para a Home</button></a>
                <p>Ou</p>
                <a href="Agende Aqui.html"><button>Agende Aqui</button></a>
            </div>

        </div>
        <p class="divisoria-rodape"></p>
    </main>