<div class="banner-area">
            <p class="space-banner"></p>
            <a asp-controller="Agendamento" asp-action="AgendeAqui">Agende Seu Evento Aqui</a>
            <p class="space-banner"></p>
        </div>