@{
    var nomeView = (string) ViewData["NomeView"];
}
<!DOCTYPE html>    
<html>
    <head>
    <meta charset="UTF-8">
    <title>Rolê TOP</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Galeria CSS (Carrocel) -->
    @if("Home".Equals(nomeView)){
    <link rel="stylesheet" href="/css/gallery.min.css">
    <link rel="stylesheet" href="/css/gallery.theme.css">;
    }
    <!-------------------------------->

    <!-- Icones Agendamento -->
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:900%7COpen+Sans" rel="stylesheet">
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>
    <!-------------------------------->

    <link href="Img/Logo role top.png" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <!--Input e label para dar ao site a funcionalidade de design responsivo-->
        <input type="checkbox" id="check">
        <label id="icone" for="check"><img src="/Img/menu opcoes.png" height="67px"></label>

        <div class="bg-mobile"></div>
        <div class="barra">
            <nav class="menu">
                <ul>
                    <li><img src="/Img/Logo role top.png" class="logo"></li>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Estrutura">Estrutura</a></li>
                    <li><a asp-controller="Programacao" asp-action="Index">Programação</a></li>
                    <li><a asp-controller="Agendamento" asp-action="Index">Agende Aqui</a></li>
                    <li><a asp-controller="Faq" asp-action="Index">Perguntas Frequentes</a></li>
                    @if(string.IsNullOrEmpty(Model.NomeView)){
                    <li><a asp-controller="Cliente" asp-action="Index">Login</a></li>;
                    <li><a asp-controller="Cadastro" asp-action="Index">Cadastre-se</a></li>
                    }
                    else{
                    <li><a asp-controller="Cliente" asp-action="Index">Logoff</a></li>;
                    <li><a asp-controller="Cliente" asp-action="Index">Minha Conta(Model.UsuarioNome)</a></li>;
                    }
                </ul>
            </nav>
        </div>
    </header>
    @if("Home".Equals(nomeView)){
        Html.RenderPartial("_HomePageHeader");
    }
    @RenderBody()
    <footer>
        <div class="rodape">
            <div class="rodape-img">

                <div>
                    <img src="/Img/Logo role top.png" class="logo">
                </div>
                <div>
                    <img src="/Img/whatsapp.png" usemap="#whatsapp">
                    <map name="whatsapp">
                        <area shape="rect" coords="112,37,266,57"
                            href="https://api.whatsapp.com/send?phone=55111234-5678" target="_blank">
                        <area shape="rect" coords="111,62,264,78"
                            href="https://api.whatsapp.com/send?phone=55114098-7654" target="_blank">
                    </map>
                </div>
            </div>
        </div>
        <p class="divisoria-rodape"></p>
        <div class="rodape-meio">
            <div>
                <p>Localização</p>
                <p>Alameda Barão de Limeira,539 - Santa Cecilia,<br> São Paulo - SP, 01202-001</p>
            </div>
            <div>
                <p>Email</p>
                <p>roletop@@gmail.com</p>
            </div>
            <div>
                <p>Funcionamento</p>
                <p>Quinta à Domingo - 20h às 05h</p>
            </div>
        </div>
        <div class="rodape-fim">
            <div>
                <p>@@Rolê Top 2019</p>
            </div>
            <div>
                <p>® Todos os direitos reservados</p>
            </div>
        </div>

    </footer>
</body>
</html>
