<main>
        <div class="resumo">

            <div>
                <p class="titulo-resumo">Sua mensagem foi enviada com sucesso!</p>
            </div>

            <div>
                <p class="info-cadastro"><i class="far fa-hand-spock"></i>Aguarde resposta dos administradores no seu Email.</p>
            </div>

            <div class="btn">
                <a href='@Url.Action("Index","Home")'><button>Ir para a Home</button></a>
            </div>

        </div>
        <p class="divisoria-rodape"></p>
    </main>