@model RoleTOP_MVC.ViewModels.EventosViewModel
<main>
    @if(Model.Programacao.Count > 0)
    {
    <div class="galeria">
            @foreach (var tipoEvento in Model.tiposEventos) 
            {
                int count = 0;
                
                @foreach (var item in Model.Programacao)
                {
                    if(item.TipoEvento == tipoEvento)
                    {
                            if(count < 1)
                            {
                                <div>
                                    <p class="titulo-resumo">@tipoEvento:</p>
                                </div>
                            }
                            <div>
                                <figure>
                                    <h1><a href='@Url.Action("Visualizar","Home", new {id = @item.ID})'><img src="@item.bannerURL" width="300px" height="200px"></a></h1>
                                </figure>
                            </div>
                            count++;
                    }
                }
                
            }
    </div>
    }

        <div class="titulo">
            <img src="/Img/titulo calendário.svg">
        </div>

        <table class="calendario">
            <thead>

                <tr>
                    <th class="mes" colspan="7">Setembro</th>
                </tr>
                <tr>
                    <th class="dia">D</th>
                    <th class="dia">S</th>
                    <th class="dia">T</th>
                    <th class="dia">Q</th>
                    <th class="dia">Q</th>
                    <th class="dia">S</th>
                    <th class="dia">S</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="dias-n">1</td>
                    <td class="dias-n">2</td>
                    <td class="dias-n">3</td>
                    <td class="dias-n">4</td>
                    <td class="dias-n">5</td>
                    <td class="dias-n">6</td>
                    <td class="dias-n">7</td>
                </tr>
                <tr>
                    <td class="dias-n">8</td>
                    <td class="dias-n">9</td>
                    <td class="dias-n">10</td>
                    <td class="dias-n">11</td>
                    <td class="dias-n">12</td>
                    <td class="dia-evento"><a href="#">13</a></td>
                    <td class="dias-n">14</td>
                </tr>
                <tr>
                    <td class="dias-n">15</td>
                    <td class="dias-n">16</td>
                    <td class="dias-n">17</td>
                    <td class="dias-n">18</td>
                    <td class="dias-n">19</td>
                    <td class="dias-n">20</td>
                    <td class="dias-n">21</td>
                </tr>
                <tr>
                    <td class="dias-n">22</td>
                    <td class="dias-n">23</td>
                    <td class="dias-n">24</td>
                    <td class="dias-n">25</td>
                    <td class="dias-n">26</td>
                    <td class="dias-n">27</td>
                    <td class="dias-n">28</td>
                </tr>
                <tr>
                    <td class="dias-n">29</td>
                    <td class="dias-n">30</td>
                    <td class="mes-dif">1</td>
                    <td class="mes-dif">2</td>
                    <td class="mes-dif">3</td>
                    <td class="mes-dif">4</td>
                    <td class="mes-dif">5</td>
                </tr>
        </table>
        </tbody>

        <p class="divisoria-rodape"></p>
    </main>