    <main>
        <div class="titulo">
            <img src="/Img/Estrutura do espaco.svg">
        </div>
        <div class="plantas-top">
            <div>
                <p> Planta Baixa</p>
                <a href="#"><img src="/Img/Planta baixa.jpg"></a>
            </div>
            <div>
                <p> Planta Baixa</p>
                <a href="#"><img src="/Img/Planta baixa.jpg"></a>
            </div>
        </div>
        <div class="titulo">

            <div class="plantas-bottom">
                <div>
                    <p> Planta Baixa</p>
                    <a href="#"><img src="/Img/Planta baixa.jpg"></a>
                </div>
                <div>
                    <p> Planta Baixa</p>
                    <a href="#"><img src="/Img/Planta baixa.jpg"></a>
                </div>
            </div>
        </div>
        <p class="divisoria-rodape"></p>
    </main>
