<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Rolê TOP</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gallery.min.css">
    <link rel="stylesheet" href="/css/gallery.theme.css">
    <link href="Img/Logo role top.png" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <!--Input e label para dar ao site a funcionalidade de design responsivo-->
        <input type="checkbox" id="check">
        <label id="icone" for="check"><img src="Img/menu opcoes.png" height="67px"></label>

        <div class="bg-mobile"></div>
        <div class="barra">
            <nav class="menu">
                <ul>
                    <li><img src="Img/Logo role top.png" class="logo"></li>
                    <li><a href="Index.html">Home</a></li>
                    <li><a href="Estrutura.html">Estrutura</a></li>
                    <li><a href="Programacao.html">Programação</a></li>
                    <li><a href="Agende Aqui.html">Agende Aqui</a></li>
                    <li><a href="Perguntas frequentes.html">Perguntas Frequentes</a></li>
                    <li><a href="Cadastro.html">Cadastre-se</a></li>
                    <li><a href="Login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="banner-area">
            <p class="space-banner"></p>
            <a href="Agende Aqui.html">Agende Seu Evento Aqui</a>
            <p class="space-banner"></p>
        </div>
        <div id="sobrenos">
            <p>Sobre nós</p>
            <p> Em química e física, Teoria atômica ou teoria atómica é a teoria científica que afirma que a matéria é
                constituída por unidades fundamentais chamadas átomos. Um átomo, de acordo com esta teoria, é uma
                partícula extremamente pequena, porém não é infinitamente pequena.
                A Teoria atômica havia sido proposta por filósofos, como Descartes, antes dela ter uma base
                experimental. Havia, desde os tempos antigos, duas hipóteses sobre a composição da matéria: ou ela seria
                formada por partículas que não poderiam ser mais divididas, ou não haveria nenhum limite à
                divisibilidade da matéria. A primeira ideia costuma ser atribuída aos epicuristas, porém suas origens
                podem ser ainda mais antigas. A cosmogenia de Demócrito se baseia nesta ideia, que ele derivou de
                Leucipo. Segundo Daubeny, Mosco, um fenício que floresceu antes da Guerra de Troia, teria estas ideias,
                assim como as mônadas de Pitágoras, cuja origem seria egípcia. Segundo Mr. Colebrooke, citado por
                Daubeny, os hindus também tinham, no passado, uma teoria atômica.
            </p>
        </div>
        <div class="programacao">
            <p class="programacao-top">ProgramacAo</p>
            <div class="gallery autoplay items-4">
                <div id="item-1" class="control-operator"></div>
                <div id="item-2" class="control-operator"></div>
                <div id="item-3" class="control-operator"></div>
                <div id="item-4" class="control-operator"></div>

                <figure class="item">
                    <h1><a href="evento-publico.html"><img src="Img/Pink floyd.png"></a></h1>
                </figure>
                <figure class="item">
                    <h1><img src="Img/legiao urbana.jpg"></h1>
                </figure>
                <figure class="item">
                    <h1><img src="Img/metallica.jpg"></h1>
                </figure>
                <figure class="item">
                    <h1><img src="Img/velhas virgens.jpg"></h1>
                </figure>

                <div class="controls">
                    <a href="#item-1" class="control-button">.</a>
                    <a href="#item-2" class="control-button">.</a>
                    <a href="#item-3" class="control-button">.</a>
                    <a href="#item-4" class="control-button">.</a>
                </div>
            </div>
            <p class="programacao-bottom">Role tOp</p>
        </div>
        
        <div id="tabela-precos">
            <p>Estimativa de precos</p>
            <img src="Img/tabela-de-precos.svg">
        </div>

        <div id="localizacao">
            <p>LocalizacAo</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14631.441758630948!2d-46.646275746032714!3d-23.53752146705796!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb23619858bc7e63e!2sEscola%20SENAI%20de%20Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1567281677957!5m2!1spt-BR!2sbr"
                frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

        <p class="divisoria-rodape"></p>
    </main>
    <footer>
        <div class="rodape">
            <div class="rodape-img">

                <div>
                    <img src="Img/Logo role top.png" class="logo">
                </div>
                <div>
                    <img src="Img/whatsapp.png" usemap="#whatsapp">
                    <map name="whatsapp">
                        <area shape="rect" coords="112,37,266,57"
                            href="https://api.whatsapp.com/send?phone=55111234-5678" target="_blank">
                        <area shape="rect" coords="111,62,264,78"
                            href="https://api.whatsapp.com/send?phone=55114098-7654" target="_blank">
                    </map>
                </div>
            </div>
        </div>
        <p class="divisoria-rodape"></p>
        <div class="rodape-meio">
            <div>
                <p>Localização</p>
                <p>Alameda Barão de Limeira,539 - Santa Cecilia,<br> São Paulo - SP, 01202-001</p>
            </div>
            <div>
                <p>Email</p>
                <p>roletop@@gmail.com</p>
            </div>
            <div>
                <p>Funcionamento</p>
                <p>Quinta à Domingo - 20h às 05h</p>
            </div>
        </div>
        <div class="rodape-fim">
            <div>
                <p>@@Rolê Top 2019</p>
            </div>
            <div>
                <p>® Todos os direitos reservados</p>
            </div>
        </div>

    </footer>

</body>

</html>

