<main>
        <p class="space"></p>
        <section id="tabela">
            <div class="titulo-adm">
                <p>Gerenciamento de Eventos</p>
            </div>
            <table class="eventos">
                <thead>
                    <tr>
                        <th>Nome/Empresa</th>
                        <th>Data do Evento</th>
                        <th>Status</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="aceitos">Eventos Aceitos:</th>
                        <th class="recusados">Eventos Recusados:</th>
                        <th class="pendentes">Eventos Pendentes:</th>
                        <th class="cancelados">Eventos Cancelados:</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>0</td>
                        <td>2</td>
                        <td>0</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td><a href="info-evento.html" target="_blank">Nome</a></td>
                        <td>xx/xx/xxxx</td>
                        <td>Pendente</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td><a href="info-evento.html" target="_blank">Nome</a></td>
                        <td>xx/xx/xxxx</td>
                        <td>Pendente</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td><a href="info-evento.html" target="_blank">Nome</a></td>
                        <td>xx/xx/xxxx</td>
                        <td>Aceito</td>
                        <td><a href="#"><img src="Img/Botão fechar.svg" width="35px" title="Cancelar evento"></a></td>
                    </tr>

                </tbody>
            </table>
        </section>

        <p class="space"></p>

        <section id="tabela2">
            <div class="titulo-adm">
                <p>Mensagem de usuários</p>
            </div>
            <table class="mensagens">
                <div>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th> N° de Mensagens</th>
                        </tr>
                    </thead>
                </div>
                <div>
                    <!-- Foreach-->
                    <tbody>
                        <tr>
                            <td>Usuário</td>
                            <td><a href="Mensagens-dasboard adm.html" target="_blank">Mensagens (x)</a></td>
                        </tr>
                    </tbody>
                    <!-- Foreach-->
                </div>
            </table>
        </section>
        <p class="divisoria-rodape"></p>

    </main>